@mixin containers {
    max-height: 100vh;
    margin: 0;
}
.home_container {
min-height: 630px;
height: 100vh;
background: #252934;
background-size: cover;
}
.proyects-container {
background: var(--blue);
box-sizing: border-box;
overflow: hidden;
}
.contact-container {
background: #2e4d70;
margin: 0;
}
.footer-container {
@include containers; 
min-height: 210px;
max-height: 210px;
background: #1B242F;
}

