.card-container {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 50px;
    background: #01a1a7;
    box-shadow:  12px 12px 24px #01797d, 
    -12px -12px 24px #01a1a9;

    div {
            i{
               font-size: 7em;
            }
    }
    h1{
        font-family: "Nunito";
    }
    p{
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width: 430px) {
    .card-container {
        width: 90%;
    }

}
