 .seccion-title-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .underline {
    background: var(--lightblue);
    width: 75px;
    height: 5px;
 }

.seccion-title {
    font-family: "Nunito" ;
    margin: 5px; 
    width: 100%;
    text-align: center;
    font-size: 30px;
}