.main-contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-title {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.form {
    width: 50%;
    margin: 20px;
    flex-wrap: wrap;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     label {
         min-width: 330px;
         min-height: 70px;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 25px;

         input{
             font-family: "Lato";
             background: transparent;
             border: none;
             font-size: 20px;
             border-bottom: 2px solid black;
         }

         textarea {
             font-size: 20px;
             font-family: "Montserrat";
             background: transparent;
             height: 200px;
             resize: none;
             border: none;
             border-bottom: 2px solid black;
         }
     }
}

.textarea-container{
    background: red;
}
.form-button-container {
    button {
        font-size: "Lato";
        border: none;
        border-radius: 30%;
        background: black;
        color: var(--white2);

        &:disabled {
            background: red;
        }
    }
}

.error-class {
    border: 1px solid red;
    display: inline-block;
    transition: 0.3s;
}
.error-class-text{
    font-size: 15px;
    font-family: "Lato";
    color: red;
    display: inline-block;
    transition: 0.3;
}