.grill-container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin-top: 35px;
    
}


@media screen and (max-width: 800px) {
     .grill-container {
         margin: 45px 15px 0px 15px ;
         background: green;  
     }
     }