.proyect-card-container {
box-sizing: border-box;
width: 400px;
height: 400px;
margin: 30px;
border-radius: 50px;
background: #01a1a7;
box-shadow:  12px 12px 24px #01797d, 
-12px -12px 24px #01a1a9;
    img {
        margin: 0px;
        display:block;
        object-fit: cover;
        border-radius: 50px;
    }
}
.card-text-container {
    margin: 0;
    font-family: "Nunito";
    height: 100%;
    transform: translateY(-100%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .6s;
    opacity: 0;
    border-radius: 50px;

    p {
        transition: 1s;
        opacity: 0;
        color: #898A8C;
        text-align: center;
        width: 90%;
    }

    h1 {
        visibility: hidden;
        opacity: 0;
        font-family: "Nunito";
        color: var(--black2);
        transition: .6s;
        transform: translateY(-180px);
        font-size: 30px;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        visibility: hidden;
        opacity: 0;
        font-family: "Nunito";
        color: var(--black2);
        transition: .6s;
        text-decoration: none;
        list-style: none;
        transform: translateY(180px);
        padding: 0;
        font-size: 20px;

        li{
            width: 100%;
            margin: 5px;

            a {
                padding: 15px;
                background: #FB1F79;
                transition: .33s;
                text-decoration: none;
                color: white;
                border-radius: 50px;
                box-shadow:  5px 5px 9px #c9c9c9, 
                -5px -5px 9px #ffffff;
            
            }
        }
    }
        &:hover{
            opacity: 0.95;
            background: var(--white);

            p {
                opacity: 1;
            }

            h1{
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
                }

            ul{
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
        }
}
 
@media screen and (max-width: 420px) {

    .proyect-card-container {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
    }
}

 
@media screen and (max-width: 360px) {

    .proyect-card-container {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
    }

    .card-text-container {
        h1 {
       
            font-size: 20px;
        }

        ul {
            li {
                a {
                    padding: 5px;
                    font-size: 18px;
                }
            }
        }
    }


}



 
