.main-footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: #1B242F;
}

.arrow-footer-container {
    height: 40px;

    i{  
        transform: translateY(-20px);
        border-radius: 50%;
        padding: 12px;
        background: #046b87;
        font-size: 20px;
        color: var(--white);
        transition: 0.4s;
        &:hover {
            cursor: pointer;
        }
    }
}

.contacticons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

        i{  
            border-radius: 3px; 
            margin: 10px;
            font-size: 50px;
            color: white;
            transition: .33s;

            &:hover{
                color: #FB1F79;
            }
    }
}

.footer-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    h1{
        margin: 2px;
        font-size: 15px;
        font-family: "Lato";
        font-weight: 300;
        color: #747474 ;
    }
}

.phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h3{
        display: flex;
        align-items: center;
        justify-content: space-evebnly;
        flex-wrap: nowrap;
        width: 210px;
        margin-left: 30px;

        i {
            margin: 0;
            font-size: 25px;
            color: white;
            margin-right: 15px;
        }

        span {
            font-family: "Nunito";
            color:  var(--white);
        }
    }
}

@media screen and (max-width: 535px) { 

    .phone-number {
    
        h3 {
            margin-top: 15px;
            margin-bottom: 10px;
            width: 240px;
            justify-content: space-between;
        }
    }

}