.main-footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
}

.arrow-footer-container {
    height: 40px;

    i{  
        transform: translateY(-25px);
        border-radius: 50%;
        padding: 12px;
        background: #046b87;
        font-size: 30px;
        color: var(--white2);
        transition: 0.4s;
        &:hover {
            cursor: pointer;
        }
    }
}

.footer-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    h1{
        margin: 2px;
        font-size: 15px;
        font-family: "Lato";
        font-weight: 300;
        color: #747474 ;

        span{
            color: white;
            opacity: 1;
        }
    }
   
}