@import './sections/navbar/Navbar';
@import './sections/Home/Home';
@import './sections/AboutMe/Aboutme';
@import './components/SeccionTitle/SeccionTitle';
@import './sections/Proyects/Proyects';
@import './sections/Proyects/ProyectCard/Proyectcard';
@import './sections/Contact/Contact';
@import './Keyframes';
@import './sections/AboutMe/components/card/Card';
@import './sections/footer/Footer';
@import './sections/AboutMe/components/skills/Skills';
@import './components/loading/Loading';
* {
    box-sizing: border-box;
    --lightblue: #759AC6;
    --blue: #01A1A7;
    --blue2: #3F70F5;
    --blueText: #5A7793;
    --darkblue: #0D122A;
    --lightred: #E31C6E;
    --red: #B00002;
    --white: #f5f5f5;
    --green: #01A1A7;
    --white3: #020202;
    --black: #191A1D;
    --darkwhite: #b7b7b7;
    --gray: #45474A;    
}

html {
    height: 100%;
}
body {
background: var(--white);
min-height: -webkit-fill-available;
margin: 0;  
padding: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.lazy-loading {
background: #0D122A;
height: 100vh;
display: flex;
    span {
        margin: auto;
    }
}
